@{
	ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-lg-6">
        <!-- Blog post-->
        <div class="card mb-4" style="width: 50%; margin: 0 25%;">
            <a href="#!">
                <img class="card-img-top"
                     src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                     alt="image"
                     style="width: 100%; height: 50%;" />
            </a>
            <div class="card-body">
                <h2 class="card-title h4">Front End</h2>
                <p class="card-text">
                    Họ và tên: Bùi Ngọc Na <br>
                    MSSV: DH52001092 <br>
                    Lớp: D20_TH03
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!-- Blog post-->
        <div class="card mb-4" style="width: 50%; margin: 0 25%;">
            <a href="#!">
                <img class="card-img-top"
                     src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                     alt="..." />
            </a>
            <div class="card-body">
                <h2 class="card-title h4">Back End</h2>
                <p class="card-text">
                    Họ và tên: Lê Đức Tài <br>
                    MSSV: DH52003324 <br>
                    Lớp: D20_TH03
                </p>
            </div>
        </div>
    </div>
</div>