@{
	ViewData["Title"] = "About";
}

<div class="row mt-5">
	<div class="col-lg-4">
		<!-- Blog post-->
		<div class="card mb-4" style="width: 18rem; margin: 0 auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
			<div style="width: 100%; height: 300px; overflow: hidden; position: relative; border-radius: 10px 10px 0 0;">
				<div style="width: 100%; height: 300px; overflow: hidden; position: relative; border-radius: 10px 10px 0 0;">
					<img src="/bootstrap/assets/Na.webp" alt="LeDucTai_Backend" style="width: 100%; height: 100%; object-fit: cover;">
				</div>
			</div>
			<div class="card-body" style="background-color: #fff;">
				<h5 class="card-title text-center" style="color: #ff0000;">Front End</h5>
				<p class="card-text text-center" style="color: #000;">
					<strong>Họ và tên:</strong> Bùi Ngọc Na <br>
					<strong>MSSV:</strong> DH52001092 <br>
					<strong>Lớp:</strong> D20_TH03
				</p>
			</div>
		</div>
		@*Lê Đức Tài, Bùi Ngọc Na*@
	</div>
	<div class="col-lg-4">
		<!-- Developer description -->
		<div class="text-justify" style="font-size:larger;color: #000;">
			<p>We are the creators behind this dynamic and engaging blog platform, dedicated to delivering insightful content and seamless user experiences...</p>
			<p>Le Duc Tai, the brains behind the backend, infuses cutting-edge technologies to ensure optimal performance and security...</p>
			<p>Bui Ngoc Na, leading the frontend development, brings creativity and precision to the user interface...</p>
			<p>For any inquiries or collaboration opportunities, feel free to reach out to us at <a href="mailto:taileduc0404@gmail.com">taileduc0404@gmail.com</a>. We are committed to continuous improvement and providing a platform that caters to our audience's interests and needs.</p>
		</div>
	</div>
	<div class="col-lg-4">
		<!-- Blog post-->
		<div class="card mb-4" style="width: 18rem; margin: 0 auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
			<div style="width: 100%; height: 300px; overflow: hidden; position: relative; border-radius: 10px 10px 0 0;">
				<img src="/bootstrap/assets/LeDucTai.webp" alt="LeDucTai_Backend" style="width: 100%; height: 100%; object-fit: cover;">
			</div>
			<div class="card-body" style="background-color: #fff;">
				<h5 class="card-title text-center" style="color: #ff0000;">Back End</h5>
				<p class="card-text text-center" style="color: #000;">
					<strong>Họ và tên:</strong> Lê Đức Tài <br>
					<strong>MSSV:</strong> DH52003324 <br>
					<strong>Lớp:</strong> D20_TH03
				</p>
			</div>
		</div>

	</div>
</div>
