@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@{
	var loggedInUser = new ApplicationUser();
	loggedInUser = _userManager.Users.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Techno Blog is a platform dedicated to technology-related blogs, providing a diverse range of articles covering tech, knowledge, and insights. Our platform invites everyone to contribute their thoughts, share expertise, and engage in discussions on our forums. Join our community to explore the latest trends, dive into tech-related topics, and exchange ideas in an interactive environment." />
	<meta name="author" content="Le Duc Tai, .NET Core Developer. Passionate about crafting robust solutions using .NET technologies, constantly exploring new trends in software development and contributing to the tech community." />
	<link rel="icon" type="image/x-icon" href="~/bootstrap/assets/dashboard_icon_182989.ico" />

	<title>@ViewData["Title"] - BlogWebsite</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/dashboard/css/styles.css" />
	<link rel="stylesheet" href="~/AccessDenied/css/AccessDenied" />

	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" asp-controller="Post" asp-action="Index" asp-area="Admin">TechVerse - Admin</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" aria-label="Mở thanh bên" href="#!">
			<i class="fas fa-bars" aria-hidden="true"></i>
		</button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-user fa-fw"></i>
					<span class="mr-2 d-none d-lg-inline text-gray-600 small">@loggedInUser?.FirstName @loggedInUser?.LastName</span>
				</a>

				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<form asp-action="Index" asp-controller="Home" asp-area="Default" method="post">
						<button type="submit" class="dropdown-item">
							Home
						</button>
					</form>
					<li><hr class="dropdown-divider" /></li>
					<form asp-action="Logout" asp-controller="User" asp-area="Admin" method="post">
						<button type="submit" class="dropdown-item">
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Logout
						</button>
					</form>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading"></div>
						<a class="nav-link" asp-controller="User" asp-action="EditProfile" asp-area="Admin">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
							General
						</a>
						<div class="sb-sidenav-menu-heading">Core</div>
						<a class="nav-link" asp-controller="User" asp-action="EditProfile" asp-area="Admin">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
							My Profile
						</a>
						@if (User.IsInRole("Admin"))
						{
							<a class="nav-link" asp-controller="User" asp-action="Index" asp-area="Admin">
								<div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
								Users
							</a>
						}

						<a class="nav-link" asp-controller="Comment" asp-action="Index" asp-area="Admin">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-comment"></i></div>
							Comment
						</a>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePosts">
							<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
							Post
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapsePosts" aria-labelledby="headingPosts" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPosts">
								<a class="nav-link" asp-controller="Tag" asp-action="Index" asp-area="Admin">
									<div class="sb-nav-link-icon"><i class="fa-solid fa-tag"></i></div>
									Tags
								</a>
								<a class="nav-link" asp-action="Index" asp-controller="Post" asp-area="Admin">
									<div class="sb-nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
									Posts
								</a>
							</nav>
						</div>

						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseForum" aria-expanded="false" aria-controls="collapseForum">
							<div class="sb-nav-link-icon"><i class="fa-solid fa-circle-question"></i></div>
							Forum
							<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
						</a>
						<div class="collapse" id="collapseForum" aria-labelledby="headingForum" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionForum">
								<a class="nav-link" asp-controller="Topic" asp-action="Index" asp-area="Admin">
									<div class="sb-nav-link-icon"><i class="fa-solid fa-tag"></i></div>
									Topics
								</a>
								<a class="nav-link" asp-controller="Forum" asp-action="Index" asp-area="Admin">
									<div class="sb-nav-link-icon"><i class="fa-solid fa-newspaper"></i></div>
									Posts
								</a>
							</nav>
						</div>
						@if (User.IsInRole("Admin"))
						{
							<div class="sb-sidenav-menu-heading">Setting</div>
							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSetting" aria-expanded="false" aria-controls="collapseSetting">
								<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
								Pages
								<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
							</a>
							<div class="collapse" id="collapseSetting" aria-labelledby="headingSetting" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionSetting">
									<a class="nav-link" asp-controller="Setting" asp-action="Index" asp-area="Admin">
										<div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
										Home
									</a>
								</nav>
							</div>
						}


					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>
				@RenderBody()
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Le Duc Tai - Bui Ngoc Na 2023</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="~/dashboard/js/datatables-simple-demo.js"></script>
	<script src="~/dashboard/js/scripts.js"></script>
	<script src="~/AccessDenied/js/AccessDenied.js"></script>
	<script src="~/dashboard/assets/demo/chart-area-demo.js"></script>
	<script src="~/dashboard/assets/demo/chart-bar-demo.js"></script>
	<script src="~/dashboard/assets/demo/chart-area-demo.js"></script>
	<script src="~/dashboard/assets/demo/datatables-demo.js"></script>

	<!-- Notification-->
	<script src="~/dashboard/vendor/jquery/jquery.min.js"></script>
	<script src="~/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="~/dashboard/vendor/chart.js/Chart.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.tiny.cloud/1/mbdqmy7e3qeqgy8pvai5u5svy91mievfhma0tuua5tv3l0z0/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		let table = new DataTable('#myTable');
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
		});

	</script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
