<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Techno Blog is a platform dedicated to technology-related blogs, providing a diverse range of articles covering tech, knowledge, and insights. Our platform invites everyone to contribute their thoughts, share expertise, and engage in discussions on our forums. Join our community to explore the latest trends, dive into tech-related topics, and exchange ideas in an interactive environment." />
	<meta name="author" content="Le Duc Tai, .NET Core Developer. Passionate about crafting robust solutions using .NET technologies, constantly exploring new trends in software development and contributing to the tech community." />
	<link rel="icon" type="image/x-icon" href="~/bootstrap/assets/business_application_addmale_useradd_insert_add_user_client_2312.ico" />

	<title>Login - Techno Blog</title>
	<link rel="stylesheet" href="~/dashboard/css/input.css" />
	<link rel="stylesheet" href="~/dashboard/css/styles.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-76FS0KRMBG"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-76FS0KRMBG');
</script>
<body class="bg" style="background-color: #85C1E9;">
	@RenderBody()

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
@*	<script src="~/dashboard/js/datatables-simple-demo.js"></script>
	<script src="~/dashboard/js/scripts.js"></script>*@
	<script src="~/dashboard/js/input.js"></script>
	<script src="~/dashboard/js/scripts.js"></script>
@*
	<script src="~/dashboard/assets/demo/chart-area-demo.js"></script>
	<script src="~/dashboard/assets/demo/chart-bar-demo.js"></script>
	<script src="~/dashboard/assets/demo/chart-area-demo.js"></script>
	<script src="~/dashboard/assets/demo/datatables-demo.js"></script>*@

	<!-- Notification-->
	<script src="~/dashboard/vendor/jquery/jquery.min.js"></script>
	<script src="~/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="~/dashboard/vendor/chart.js/Chart.min.js"></script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
