@{
    ViewData["Title"] = "Access Denied";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Access Denied</h1>
            <p>Sorry, you don't have permission to access this page.</p>
            <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</div>
