@model BlogWebsite.ViewModels.ForgotPasswordVM
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot Password";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">ForgotPassword</h3></div>
                <div class="card-body">
                    <form asp-controller="User" asp-action="ForgotPassword" method="post" asp-area="Admin">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" type="text" placeholder="Your Email" />
                            <label for="inputEmail">Email</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Send Email">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>