@{
	Layout = "_LoginLayout";
	ViewData["Title"] = "ForgotPassword Confirmation Error";
}


<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-5">
			<div class="card shadow-lg border-0 rounded-lg mt-5">
				<div class="card-header"><h3 class="text-center font-weight-light my-4">ForgotPasswordConfirmation</h3></div>
				<div class="card-body">
					<p style="color:red;">
						<b>
							The email address is not registered.
						</b>
					</p>
				</div>
				<div class="card-footer text-center py-3">
					<div class="small"><a asp-controller="User" asp-action="Register" asp-area="Admin">Need an account? Sign up!</a></div>
				</div>
			</div>
		</div>
	</div>
</div>