@model BlogWebsite.ViewModels.ResetPasswordVM

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Reset Password";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Reset Password</h3></div>
                <div class="card-body">
                    <form asp-controller="User" method="post" asp-action="ResetPassword" asp-area="Admin">
                        <div class="form-floating mb-3 position-relative">
                            <input asp-for="Password" class="form-control" id="inputPassword" type="password" placeholder="Password" />
                            <label for="inputPassword">Password</label>
                            <span class="eye-icon" onclick="togglePassword('inputPassword', 'eyeIconPassword')">
                                <i class="fa fa-eye-slash" id="eyeIconPassword" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" id="inputConfirmPassword" type="password" placeholder="ConfirmPassword" />
                            <label for="inputConfirmPassword">Confirm Password</label>
                            <span class="eye-icon" onclick="togglePassword('inputConfirmPassword', 'eyeIconConfirmPassword')">
                                <i class="fa fa-eye-slash" id="eyeIconConfirmPassword" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input type="hidden" asp-for="Email" class="form-control" />
                        <input type="hidden" asp-for="Token" class="form-control" />
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function togglePassword(inputId, eyeIconId) {
            var passwordInput = document.getElementById(inputId);
            var eyeIcon = document.getElementById(eyeIconId);

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            }
        }
    </script>
}
